
/* Grön:      #489078
Mörkgrå: #353131
Ljusgrå: #605858
Vit:      #605858
Röd:     #EB5757
Font: Frutiger Next Bold */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Frutiger Next', sans-serif;

}


:root {
	--green: #489078;
	--dark-gray: #353131;
	--light-gray: #605858;
	--white: #FFFFFF;
	--red: #EB5757;
	--almost-white: #AAAAAA;
	--button-gray: #F1F0EC3D;
	--light-text: #F4F3F1F0;
    --border-radius-buttons: 6px;
	--text-shadow-main: 0.5px 0.3px 2px rgb(30, 29, 29);
	--light-gray-mlus-minus-buttons:rgba(53, 49, 49, 0.24);

}

