
/* Grön:      #489078
Mörkgrå: #353131
Ljusgrå: #605858
Vit:      #605858
Röd:     #EB5757
Font: Frutiger Next Bold */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Fira Sans', sans-serif;


}


body {
	font-size: 16px;
}

:root {
	--green: #489078;
	--dark-gray: #353131;
	--dark-gray-hover: #282525;
	--light-gray: #605858;
	--white: rgba(244, 243, 241, 0.94);
	--white-hover: rgba(255, 255, 255, 0.94);
	--red: rgba(235, 87, 87, 1);
	--almost-white: #AAAAAA;
	--button-gray: #F1F0EC3D;
	--light-text: #F4F3F1F0;
	--border-radius-buttons: 6px;
	--text-shadow-main: 0.5px 0.3px 2px rgb(30, 29, 29);
	--light-gray-mlus-minus-buttons:rgba(53, 49, 49, 0.24);
	--box-shadow-main: 0.8px 0.6px 5px rgb(30, 29, 29);
	--box-shadow-white: 0.4px 0.5px 3px rgb(151, 150, 148);

}

button, img {
	cursor: pointer;
}



