main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  display: flex;
  /* background-color: var(--green); */
}

.menu-container {
  background-color: var(--green);
  flex: 1;
  /* margin: 5em auto; */
  /* width: 70%; */
  /* display: flex;
  flex-direction: column; */
  /* display: flex;
  flex-direction: column; */
  /* justify-content: center; */

}

.menu-and-cart {
	display: flex;
	flex-direction: column;
	width: 70%;
	margin: auto;
	/* align-items: flex-end; */
	/* align-items: center; */
	/* padding: 1.2em 2em 0 0; */
}

.menu-header {
	align-self: flex-start;
	/* padding: 0 0 0.25em 0; */
	color: var(--white);
	text-shadow: var(--text-shadow-main);
	/* font-size: 2em; */
}

/* cart icon */
.cart-icon {
	background-color: var(--green);
	align-self: flex-end;
	position: relative;
	display: inline-flex; /* ! */
	padding: 2em 0 1em 0;

	img {
		background-color: var(--white);
		padding: 1em;
		border-radius: 6px;
	}

	.cart-count{
		background-color: red;
		color: var(--white);
		border-radius: 50%;
		width: 2em;
		height: 2em;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 0.7em;
		font-weight: bold;
		position: absolute;
		top: 1.7em;
		right: -0.7em;
	}
}

.menu-items-container {

  display: flex;
  flex-direction: column;
  color: var(--light-text);
  /* border: 1px solid var(--light-gray);
	border-radius: 11.5px; */
  background-color: var(--green);
}

.menu-item {
  padding: 1.4em;
  background-color: var(--light-gray);
  cursor: pointer;
  color: var(--white);
  text-shadow: 0.5px 0.5px 2px black;
  /* border: 1px solid var(--light-gray);
    border-radius: 11.5px; */
}

.menu-item:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.menu-item:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline; /* 'dots' at the bottom */
  margin-bottom: 0.8em;
}

.menu-item-name {
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
}

.menu-item-price {
  flex: 0 0 auto;
  /* margin-left: 10px; */
  font-size: 1.2em;
  font-weight: 600;
}

.menu-item-description {
  font-size: 0.7em;
  text-transform: lowercase;
}

.menu-dots {
  flex: 1;
  margin: 0 0.25em;
  height: 2px;
  /* border-bottom: 1.6px dashed var(--white); */
  background-image: repeating-linear-gradient(
    to right,
    var(--white) 0 2px,
    transparent 2px 4px
  );
}

.item-wonton {
  border-bottom: 0.1px dashed rgb(137, 136, 136);
}

.item-wonton:last-of-type {
  border-bottom: none;
}

.item-wonton:hover {
  background-color: var(--dark-gray);
}

.menu-section {
  margin-bottom: 2em;
  border: 1px solid var(--light-gray);
  border-radius: 11.5px;
}

.group-buttons-wrap {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  gap: 0.3em;
  margin-top: 1em;

  button {
	padding: 0.8em;
	background-color: #f1f0ec3d;
	border: none;
	border-radius: var(--border-radius-buttons);
	color: var(--light-text);
	font-weight: 600;
	cursor: pointer;
	text-shadow: 0.2px 0.4px 4px black;
  }

  button:hover {
	background-color: var(--dark-gray);
  }

  button:active{
	background-color: var(--green);
  }
}

.add-btn {
	margin-top: 1em;
	background-color: var(--white);
	padding: 0.6em;
	border: none;
	border-radius: 4px;
	/* box-shadow: 0.4px 1.2px 2px black; */
	display: flex;
	min-width: 80%;
	margin: 1.25em auto 0 auto;
	display: flex;
	justify-content: center;

}

.add-btn:hover {
	background-color: var(--light-text);
}

.add-btn:active {
	background-color: var(--green);
}



.hidden {
	display: none !important;
}




/* CART  */

#cart-page {
	display: flex;
	flex-direction: column;
	margin: auto 2em;
	/* flex: 1; */

	img{

		/* margin: 1em 2em em 10em; */
		margin-top: 2em;
		margin-bottom: 2em;
		/* Force the svg image to respect its container */
  	    height: auto;
		align-self: flex-end;

	}

}

#cart-page .menu-dots {
	margin: 0 1em;
    background-image: repeating-linear-gradient(
        to right,
        var(--light-text) 0 2px,
        transparent 2px 4px
    );
}

/* total price */
#cart-page p {
	margin: 1.2em 0;
	/* font-size: larger; */
	font-weight: 600;


}

.cart-item {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
	align-items: flex-end;
}

.cart-left {
    display: flex;
    flex-direction: column;
    gap: 4px;
	h4{
		margin-left: 0.4em;
		margin-bottom: 0.6em;

	}
}

.cart-controls {
    display: flex;
    align-items: center;
    gap: 0.6em;
}

.minus, .plus{
	border-radius: 50%;
	background-color: var(--light-gray-mlus-minus-buttons);
	padding: 0.4em 0.6em;
    font-size: 16px;
	border: none;

	&:hover {
		background-color: var(--light-gray);
	}
}


.cart-right {

	margin-bottom: 0.2em;

	.price {
		font-weight: bold;
	}

}


.checkout-or-goback-group {
	margin: 0.6em 0;
	padding: 1em;
	border-radius: var(--border-radius-buttons);
	background-color: var(--dark-gray);
	border: none;
	color: var(--white);
	font-weight: 600;

	&:hover {
		box-shadow: 0.4px 1.2px 2px black;
	}

	&:active {
		background-color: var(--green);
	}
}




/* success */

#order-status-page {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	gap: 0.5em;
	/* flex: 1; */
	background-color: var(--light-gray);
	color: var(--white);
	padding-bottom: 4em;

	img{
		max-width: 100%;
		margin: 0.2em auto;
		/* Force the svg image to respect its container */
  		height: auto;
	}

	h3 {
		margin: 0.4em 2em;
		text-align: center;
		font-size: larger;
	}

	p {
		margin: 0.4em 2em;
		text-align: center;
		/* font-size: small; */
	}

	button{
		/* display: flex;
		flex-direction: column; */
	margin: 0.5em 2em;
	background-color: var(--light-gray);
	color: var(--white);
	padding: 0.8em;
	border: none;
	border-radius: 4px;
	max-width: 100%;
	border: solid 2px var(--white);


	}

	button:hover {
		background-color: var(--dark-gray);
	}

	button:active {
		background-color: var(--green);
	}

}

@media (min-width: 600px) {
  #order-status-page button {
	  max-width: 80%;
	  margin: 0.5em auto;
	  padding: 0.8em 5em;
  }
}

/* RECEIPT */

#receipt-page {
	display: flex;
	flex-direction: column;
	background-color: var(--light-gray);
	/* align-items: center; */


}

.receipt-body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.4em;
	/* Constrain the receipt body - width + max-width*/
	width: 100%;
	max-width: 80%;
	margin-top: 2em;
	margin-bottom: 2em;
	margin-left: auto;
	margin-right: auto;
	/* margin: auto; */
	/* margin: 4em auto; */
	background-color: var(--white);

	/* flex: 1; */
	align-items: center;
	box-shadow: 0.4px 1.2px 2px black;
	cursor: pointer;

	img {
		margin: 2em 0 0 0;
		/* Force the svg image to respect its container */
		max-width: 100%;
  		height: auto;

	}

	h3{
		font-size: 3em;
		margin: 0 0 0.2em 0;

	}

}

#receipt-items {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 2em 0;

	.cart-item{

		/* reuse cart-item styles from cart, adjusting them to fit the receipt */

		.cart-left h4 {
			margin: 0;
			font-size: 1em;
		}

		.menu-dots {
			border-bottom: 0.1px dashed var(--light-text);
		}
	}


}


/* #receipt-total {
	font-size: 1em;

	background-color: var(--light-text);
	padding: 1.2em;

	min-width: 100%;
	text-align: center;
} */

#receipt-total {

	width: 100%;

	background-color: var(--light-text);
	/* margin: auto; */
	display: flex;
	justify-content: center;
  }


  .receipt-total-inner {
	display: flex;
	padding: 1.8em 0;
	width: 80%;
	/* margin: auto; */
	font-weight: 600;
	font-size: 18px;
	align-items: center;


.label {
	margin: 0;



  }

  .placeholder {
	flex: 1;

  }

  .amount {
	margin: 0;
  }


}








#new-order-btn {

	background-color: var(--light-text);
	font-size: 1em;
	padding: 2em 0;
	border: none;
	/* border-radius: 2px; */
	/* max-width: 80%; */
	color: var(--light-text);
	margin: 1em auto;
	background-color: var(--dark-gray);
	padding: 1.2em 4em;
	border: none;
	width: 80%;
	box-shadow: 0.8px 2px 3px black;
	/* cursor: pointer; */

	&:hover {
		box-shadow: 0.4px 1.2px 2px black;
	}
	&:active {
		background-color: var(--green);
	}

}


@media (min-width: 400px) {
  .group-buttons-wrap {
	flex-direction: row;
	flex-wrap: wrap;
    justify-content: center;
  }
}