

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	display: flex;
}

.menu-container {
	background-color: var(--green);
	flex: 1;
}

.menu-items-container {
	margin: 5em auto;
  	width: 70%;
	display: flex;
  	flex-direction: column;
  	/* gap: 0.6px; */
	color: var(--white);
	border: 1px solid var(--light-gray);
	border-radius: 10px;
}

.menu-item {
	padding: 1.4em;
	background-color:var(--light-gray);
	cursor: pointer;
	color: var(--white);
}

.menu-header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;   /* dots at the bottom */
	margin-bottom: 0.8em;
}


.menu-item-name {
	font-size: 1.2em;
	font-weight: 600;

}

.menu-item-price {
	flex: 0 0 auto;
	/* margin-left: 10px; */
	font-size: 1.2em;
	font-weight: 600;
  }



.menu-item-description {
	font-size: 0.8em;
}


.menu-dots {
	flex: 1;
	border-bottom: 1px dotted var(--white);
	margin: 0 0.25em;
}
